ul {
    list-style-type: none;
}

.task-list-container {
    text-align: left;
}

.task-completed {
    text-decoration: line-through;
    color: #3d0101;
}

.task-date {
    float: right;
    padding-right: 60%;
}
